<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome to the BITS Pilani Complaint Portal</h1>
    <h3>Here you get to raise your voice against whatever is wrong in the insitute - be it a complaint at an individual level or hostel level.</h3>
    <a href="/login">LOGIN</a>
  </body>
</html>
