<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.css">
  </head>
  <body>
    <!-- <% include ('./partials/messages.ejs') %> -->

    <div class="login">
      <form class="form-control" action="/auth/login" method="POST">
        <input type="text" name="campus_id" value="" placeholder="BITS Roll Number">
        <input type="password" name="password" value="">
        <button type="submit" name="button">Submit</button>
      </form>
    </div>
  </body>
</html>
