<%- include('./partials/messages') %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.css">
  </head>
  <body>
    <div class="form-control">
      <form action="/auth/login" method="POST">
        <input type="text" name="campus_id" value="<%= typeof campus_id != 'undefined' ? campus_id : '' %>" placeholder="BITS Roll Number">
        <input type="password" name="password" value="<%= typeof password != 'undefined' ? password : '' %>" placeholder="Password">
        <button type="submit" class="btn btn-secondary" name="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
